save-prefix=~
registry.npmjs.org/:username=creditiq
registry.npmjs.org/:email=aliatsis@creditiq.com
registry.npmjs.org/:always-auth=true
scope=creditiq
@creditiq:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${CIQ_NPM_TOKEN}